{% extends 'app/base.html' %}
{% load static %}
{% block title %} Password Reset Complete {% endblock title %}

{% block main-content %}
<div class="d-flex align-items-center justify-content-center" style="min-height: 100vh;">
    <div class="text-center">
        <h3>Password Reset Successfully</h3>
        <div class="d-flex justify-content-center">
            <iframe src="{% static 'app/images/success3.png' %}" width="400" height="400" frameborder="0"></iframe>
        </div>
    </div>
</div>
{% endblock main-content %}
