{% extends 'app/base.html' %}
{% load static %}
{% block title %} Change Password Done {% endblock title %}

{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome {{request.user.username|capfirst}}</h3>

        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid">
                    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
                </li>
               
            </ul>
        </div>

        <div class="col-sm-8 offset-sm-1" text>
           <h3 style="text-align: center;">Password Changed Successfully</h3>
           <div class="d-flex justify-content-center">
            <iframe src="{% static 'app/images/success3.png' %}" width="400" height="400">
            </iframe>
            

           </div>
        </div>
    </div>
</div>
{% endblock main-content %}
